.container {
      width: 90%;
      margin: auto;
 }
 
 table {
      width: 100%;
 }
 
 mat-form-field {
      width: 100%;
 }
 
 button {
      width: 15%;
      background-color: rgb(0, 153, 255);
 }
 
 h1 {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
 }
 
 .edit {
      color: rgb(0, 153, 255);
 }
 
 .delete {
      color: red;
 }
 
 mat-form-field {
      width: 100%;
 }
 
 mat-raised-button {
      width: 30%;
 }
 
 .edit {
     color: rgb(0, 153, 255);
 }
 
 .delete {
      color: rgb(218, 31, 6);
 }

 mat-radio-group {
     display: flex;
     justify-content: space-around;
     margin-bottom: 1rem;
 }