<mat-card class="card" class="mat-elevation-z7">
  <mat-card-header>
    <mat-card-title>Help Desk</mat-card-title>
    <mat-card-subtitle>Help Desk</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="assets/img/home-image.svg"
    alt="image home Help Desk"
  />
  <mat-card-content>
    <p>
      Help Desk is an innovative project that combines Angular for the frontend
      and Java for the backend to create a sophisticated help desk platform. The
      frontend, powered by Angular, offers an intuitive user interface for tasks
      like ticket submission and resolution tracking. Meanwhile, the Java
      backend ensures stability and scalability, managing data processing and
      system management efficiently. Together, Angular and Java enable Help Desk
      to deliver seamless support experiences and elevate user satisfaction in
      the realm of IT solutions.
    </p>
  </mat-card-content>
</mat-card>
