<div class="container mat-elevation-z7">
     <form action="" class="form">
          <h1>Cadastrar Técnico</h1>
          <img src="assets/img/tecnico-create.svg" alt="Create Tecnico">


          <section class="section">
               <mat-checkbox class="checkbox" [(ngModel)]="checkedAdmin" name="checkedAdmin">Admin</mat-checkbox>
               <mat-checkbox class="checkbox" [(ngModel)]="checkedCliente" name="checkedCliente">Cliente</mat-checkbox>
               <mat-checkbox class="checkbox" [(ngModel)]="checkedTecnico" name="checkedTecnico">Técnico</mat-checkbox>
          </section>
        
               <mat-form-field class="full-width" appearance="fill">
                 <mat-label>Nome:</mat-label>
                 <input 
                 matInput 
                 placeholder="Nome"
                 [formControl]="nome"
                 required
                 >
                 <mat-icon matSuffix>person</mat-icon>                
               </mat-form-field> 
           
               <mat-form-field class="full-width" appearance="fill">
                 <mat-label>CPF:</mat-label>
                 <input 
                 matInput 
                 placeholder="000.000.000-00"               
                 [formControl]="cpf">
                 <mat-icon matSuffix>pin</mat-icon>                
               </mat-form-field>
         
               <mat-form-field class="full-width" appearance="fill">
                 <mat-label>E-Mail:</mat-label>
                 <input matInput 
                 placeholder="email@email.com"                 
                 [formControl]="email">                
                 <mat-icon matSuffix>email</mat-icon>                
               </mat-form-field>
         
               <mat-form-field class="full-width" appearance="fill">
                 <mat-label>Senha:</mat-label>
                 <input 
                 type="password" 
                 matInput 
                 placeholder="*********"               
                 [formControl]="nome"
                 required
                 >
                 <mat-icon matSuffix>lock</mat-icon>                
               </mat-form-field>

               <button [disabled]="!validaCampos()" class="cadastrar mat-elevation-z4" mat-flat-button>Cadastrar</button>
               <button  routerLink="../" class="cancelar mat-elevation-z4" mat-flat-button>Cancelar</button>
     </form>
</div>
